[submodule ".vim/pack/plugins/start/ctrlp.vim"]
	path = .vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/plugins/start/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/plugins/start/vim-gitgutter"]
	path = .vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/pack/plugins/start/vim-indent-guides"]
	path = .vim/pack/plugins/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule ".vim/pack/plugins/start/vim-js"]
	path = .vim/pack/plugins/start/vim-js
	url = https://github.com/yuezk/vim-js
[submodule ".vim/pack/plugins/start/vim-one"]
	path = .vim/pack/plugins/start/vim-one
	url = https://github.com/rakr/vim-one
[submodule ".vim/pack/plugins/start/vim-polyglot"]
	path = .vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/pack/plugins/start/vim-visual-multi"]
	path = .vim/pack/plugins/start/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi
